
*{
    padding:0px;
    margin: 0px;
    text-decoration: none;
}
.dropdown{
    display: none;
}
a{
    color:#FF9000;
    display:inline-block;
    width: 100%;
    
}

body{
    background-color: honeydew;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .logo {
    height: 100%;
    margin-left:40px;

    
    float:left;
}
header .logo img{
    height: 100%;

}
header{
    height:120px;
   
    margin-bottom: 20px;
    background-color: #1111;
    box-shadow: 4px 2px 10px #111111;
    

}
header ul{
    float: right;
    margin-top: 40px;
   
}
header ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
   
    width: 80px;
    text-align: center;
    font-size: 20px;
    
}
.clear{
    clear: both;
}

/* here start style of aside */
div.aside{
    height: 80vh;
   
    width: 10%;
    float: left;
    margin-right: 20px;
    padding-left: 30px;
    background-color: #F5EFE0;
    box-shadow: 5px 5px 30px rgb(17, 16, 16);
   
}

div.aside aside ul li{
    font-size: 20px;
    margin-top: 15px;


}
div.description{
   
height: 80vh;
background-color:#A89FDF ;
 margin-left: 150px;
 padding-left: 100px;
 padding-right: 50px;
    

}



div.footer{
    text-align: center;
   
    padding: 20px;
    background-color: #080D17;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    
}